.boxhover:hover{
    width:38%;

}
.boxhover{
    transition: 1s;
}

.texthover:hover{
    width: 100%;
    background-color:#0aad61 ;
}

.hr{
    width: 77%;
    
}

.cardHeader{
    margin-left: 33%;
}

.apply-hr{
    width: 50%;
    margin-left: 25%;
}


.readmore{
    text-decoration: none;
}

.footer{
    margin-top:14%;
}